.nav {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: grey;
  }
  
  .nav ul {
    display: flex;
    gap: 2rem;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }